<!DOCTYPE html>
<html>
<head>
	<title>Wordle!</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="game.css">
	<link rel="stylesheet" href="allStyles.css">
	<!-- <script src="gameUI.js" type="module" defer></script> -->
	<script src="./gameMain.js" type="module" defer></script>
	<script src="./keyboardKey.js" defer></script>
</head>
<body>
	<section id="mainHolder" class="smallRound">
		<h1>
		</h1>
		<svg viewBox="0 0 50 50" id="validIndicator">
			<circle></circle>
		</svg>

		<button class="functionButtons iconButton" type="button" id="colorToggle">

		</button>

		<label for="" id="timeCount">{DisplayTimeCount}</label>

		<section id="displayBoard">
 		</section>

		<button id="enterButton" class="round">Enter</button>

		<section id="keyboardContainer">
		</section>
		<!-- <input class="functionButtons" type="button" id="colorToggle"> -->
	</section>
</body>
</html>
