:root{
    --displaceSize: 1vh;
  }
body {
  display: flex;
  color: #f6ffff;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 3vh;

  }

 h1 {
  text-align: center;
    font-size: x-large;
    margin: 5%;
    color: #000;

  }

  h2{
    text-align: left;
    font-size:large;
    margin: 4px;
    color: #000;
  }

  li {
    text-align: left;
    font-size: small;
    font-weight: 100;
    color: #000;
  }

  p {
    text-align: center;
    font-size:medium;
    font-weight: 100;
    color: #000;
  }

.visual-instructions {
  margin-top: 5%;
  margin-bottom: 5%;
}

.green-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    aspect-ratio: 1;
    background: #53E485;
    border-radius: 7px;
    margin: 2px;
    font-size: 2em;
    border: #000 solid 1px;
  }

  .yellow-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    aspect-ratio: 1;
    background: #EFDE45;
    border-radius: 7px;
    margin: 2px;
    font-size: 2em;
    border: #000 solid 1px;
  }

  .gray-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    aspect-ratio: 1;
    background: #6B7378;
    border-radius: 7px;
    margin: 2px;
    font-size: 2em;
    border: #000 solid 1px;
  }

  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    aspect-ratio: 1;
    background: #FFFFFF;
    border-radius: 7px;
    margin: 2px;
    font-size: 2em;
    border: 10px;
    border: #000 solid 1px;
  }
  
  .boxes {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5vw;
    margin: 1vh 1vw;
  }

  svg{
    width: 40vw;
    aspect-ratio: 0.2;
    stroke-dashoffset: 0;
  }
  
  .play-button {
    justify-content: center;
    padding: 3%;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 20px;
    background-color: #109999;
    color: #ffffff;
    border: 0px;
    margin: 5%;
    font-size: large;
  }

  #playbutton {
    display: flex;
    justify-content: center;
  }
